<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>2-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>2-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>2-3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>2-4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>3-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>3-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>3-3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>4-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>4-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>4-3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>4-4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>5-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>5-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>5-3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>6-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>7-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>8-1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>DS graph.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>XOR.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>cha1-2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>cha1-3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>testPlayground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C80175231C8C472200105E6B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C813F2531CE08DEF0041458F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C81D48D91CCBE2D700D1B9B0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C821B3651C9587D5008C9B4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C821B3701C959EF8008C9B4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C821B37B1C95A1F5008C9B4C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C831716E1C871531002305E9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C833914C1C97BBEA00F5229A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C84035FF1CB4DF9A0090F1F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C842F98F1C968D4B000CFEA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C869967F1CA2C44D00394500</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C87C0C1B1CB5E25000B80D77</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C88154C41CBE827E00391FD1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C88D047D1C9A33B800DD4D95</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C88F9B491CA1357C006EDEC4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8923D8E1CCE124B00E9D591</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8BB14911CC7C25B005916E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8BB149C1CC7C9DA005916E5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8DFF8C51CEC84B0005848FA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8F031D11CC8B1AF00B04D21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8F031DC1CC8C72100B04D21</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8F6859C1CACA8F700626E92</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C8FAFAB41C8828FA003C8014</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
